*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    background-image: url(backgroundimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Form and Input Styles */
.form-group {
    margin-bottom: 1.6rem;
    /* 16px */
}

label {
    display: block;
    margin-bottom: 0.8rem;
    /* 8px */
}

input,
textarea,
select {
    width: 100%;
    padding: 1.2rem;
    box-sizing: border-box;
    margin-top: 0.8rem;
}

button {
    font-size: 1.6rem;
    padding: 1.2rem 2.6rem;
    height: 4.5rem;
    border-radius: 1rem;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

button:hover {
    
    transform: scale(1.1);
}

#app {
    text-align: center;
}

h1 {
    color: #f4f4f4;
    font-size: 3rem;
    
}

#app input {
    padding: 1.6rem;
    margin-bottom: 1.6rem;
    border-radius: 1.2rem;
    outline: none;
    border: none;
}

input::placeholder {
    font-size: 1.4rem;
    color: rgb(43, 42, 42);
}



/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.task-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
    max-width: 80rem;
    margin: 2rem auto;

}

.task-item {
    position: relative;

    padding: 1rem;
  
    display: grid;
    grid-template-rows: auto 1fr;
    margin-bottom: 1rem;

    background-color: #f5f5f5;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.task-details {
    padding-top: 10px;
    font-size: 0.9em;
}


.task-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.task-item span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* mark as done */
.task-item button {
    font-size: 1.4rem;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
  
    margin-top: 0.8rem;
    border-radius: none;
 
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.task-item button:hover {
    background-color: rgb(190, 134, 30);
    transform: scale(1.1);
}


/* animation */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.fade-in:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    max-height: 60vh;
    overflow-y: auto;
    background-color: #fff;
    margin: 10% auto;
    padding: 2rem;
    border: 0.1rem solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 2.8rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 860px) {

    /* Mobile devices */
    .task-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        /* Full-width columns */
        gap: 1.6rem;
        /* 16px */
        padding: 0 1.6rem;
        /* Horizontal padding */
    }


    #app {
        max-width: 80%;
    }
}